    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Product Development</h2>
                <h4 class="section-heading">
                    <div data-component="text" data-name="text2" data-text-type="body" class="text-component">
                        <div class="content content2">
                            <div>
                                <span style="font-size: 130%;">Make is a modern technology company that develops high quality software for enterprise applications, engineering tools, and embedded systems.
                                </span>
                            </div>
                        </div>
                    </div>
                </h4>
                <div class="clearfix"></div>
                <div class="lead">
                    <p>
                        We use a model based approach (Model Driven Software Development) in the development of applications. The best advantage of this approach is that it is mostly automated, and as a result, it reduces the development time and supports the industrialization of technology processes. 
                    </p>
                    <p>
                        Our teams rely on the Scrum methodology to make our software development process more agile and light.
                    </p>
                    <p>
                        We  also provide a continuous delivery process. Application development, project support, training and support for the tools we create, are all part of the process too.
                    </p>
                    <p>
                        Make Technology is involved with our customers in all project phases - from the initial requirements to the development, documentation and testing of the solution.
                    </p>
                </div>
            </div>
        </div>
    </section>
    