    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Who we are</h2>
                <h4 class="section-heading">
        
                    <span style="font-size: 130%;"><em>Make</em> is a modern technology company that develops high quality software for enterprise applications, engineering tools, and embedded systems.
                    </span>
                    
                </h4>
                <div class="clearfix"></div>
                <div class="lead">
                    <p>
                        We use a <strong>model based approach</strong> (Model Driven Software Development) in the development of applications. The best advantage of this approach is that it is mostly automated, and as a result, it <strong>reduces the development time and supports the industrialization of technology processes.</strong>
                    </p>
                    <p>
                        Our teams rely on the <em>Scrum methodology</em> to make our software development process more agile and light. We  also provide a <em>continuous delivery process.</em>
                    </p>
                    <p>
                        <em>Make Technology</em> is involved with our customers in all project phases - from the initial requirements to the development, documentation and testing of the solution.
                    </p>
                </div>
                <h3 class="section-heading">
                    Eclipse and OSGI Technologies: Our selection
                </h3>
                <div class="clearfix"></div>
                <div class="lead">
                    <p>
                        <em>Eclipse</em> is a platform that has been designed from the ground up for building integrated web and application development tooling. It leads the way in rich client applications and is capturing the runtime and server worlds. The Equinox runtime, an implementation of the OSGi core framework specification, is one of the most important factors for the Eclipse success.
                    </p>
                    <p>
                        The value of the platform is what it encourages: rapid development of integrated features based on a plug-in model.
                    </p>
                    <p>
                        Our products and services follow the open-source business model and that is the reason <strong>the Eclipse platform is a natural choice for us.</strong> The Eclipse platform provides an enormous amount of tools ready to use, from application development tooling to model driven software. However, such freely available open-source tools may not cover all the user needs. That's when <em>Make Technology</em> services and products take place, providing customized and individual solutions, with the Eclipse Platform as the basis for the development of these solutions.
                    </p>
                </div>
            </div>
        </div>
    </section>
    