<section id="contact">
    <div class="banner">
        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <h2>Keep in Touch:</h2>
                </div>
                <div class="col-lg-8">
                    <form class="form-horizontal" action="https://getsimpleform.com/messages?form_api_token=72b824bbe7f0b5223fa10f4e4df37e85" method="post">
                          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                          <!--input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' /-->
                          <!-- all your input fields here.... -->
                          <!--input type='text' name='test' />
                          <input type='submit' value='Test form' /-->
                          <div class="form-group">
                                <span class="col-md-1 text-center"><i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-11">
                                    <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                                </div>
                          </div>
                        <div class="form-group">
                            <span class="col-md-1 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-11">
                                <input id="lname" name="lastname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-11">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-11">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your message for us here. We will get back to you." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 center-column">
                    <ul class="banner-social-buttons">
                        {% for social in site.social %}
                        <li style="margin-bottom: 10px;">
                            <a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
<!-- /.banner -->
