<section id="locations">
	<div class="container"> 
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<h2 class="section-heading">Locations</h2>
				<div class="lead">
					<p>
						<b>If you want a reliable, cost effective software development solution, look no further than Argentina.</b> Working with us allows you to <b>reduce overhead</b> and work with <b>lower-cost locations</b>, while not compromising on time and quality.
					</p>
					<p>
						Argentina not only has <b>the highest English level of the region</b>, but also <b>the latest technology and best-educated workforce</b>. It has a large, technically-savvy and highly skilled pool of software engineers ready to work at a reasonable price, and an IT infrastructure network that is probably the best in the entire region. An interesting factor that sets Argentina head and shoulders above other outsourcing destinations is that public universities are free and open to anyone. As a result, Argentina has the largest number of university students in Latin America, ranking eighth globally.
					</p>
					<p>
						<b>Being near shore</b>, there are numerous geographical advantages compared to traditional Asian destinations such as India or China. The fact that Argentina is merely a few hours behind Europe and only an hour ahead of the US East Coast <b>allows us to communicate naturally and frequently with our customers during the same working hours</b>. As a result, we have greater and healthier working relationships with them. 
					</p>
					<p>
						Comparisons with other outsourcing destinations such as Asia or Central Europe are even more noticeable, due to the difficulty of implementing agile methodologies in those countries. Besides, Argentina's culture has a definitely European flavour, both in regards to culture and business, that will be familiar to most North Americans. 
					</p>
				</div>
			</div>
			<div class="col-md-4 col-lg-offset-2">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/Soldado+de+la+Independencia+729,+Buenos+Aires,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina/@-34.5677684,-58.4340893,17z/data=!3m1!4b1!4m2!3m1!1s0x95bcb5bbffafa005:0xf1c8ed47898e4f5" target="_blank"> 
						<img src="img/buenos_aires_office_300x300.png" alt="" class="lazy-img" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Buenos Aires, Argentina
			</h5>
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Soldado de la Independencia 729,&nbsp;9th Floor<br>
					Buenos Aires, C1426BTG <br>
					Argentina
			</h5>
			</div> 
			</div>
			
			<div class="col-md-6">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/Suriani,+Mendoza,+Argentina/@-32.910172,-68.7946183,15z/data=!4m2!3m1!1s0x967e0ea419944983:0x51427f0105816b7b" target="_blank"> 
						<img src="img/mendoza_office_300x300.png" alt="" class="lazy-img" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Guaymallen, Argentina
			</h5>
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Suriani 470 <br>
					Guaymallen, M5521PIH <br>
					Mendoza, Argentina
			</h5><br> <br>			
			</div> 
			</div>
		</div>
	</div>
</section>