<section id="locations">
	<div class="row">
		<div class="container"> 
			<div class="clearfix"> 
				<div class="sixteen columns title-wrapper"> 
					<h1 class="title"> 
						<div data-component="text" data-name="text1" data-text-type="heading" class="text-component">
							<div class="content content2">
								<div>Locations</div>
							</div>
						</div> 
					</h1> 
					<h4 class="subtitle" style="display: none; "> 
						<div data-component="text" data-name="text2" data-text-type="body" class="text-component">
							<div class="content content2" style="display: none; "></div>
						</div> 
					</h4> 
				</div> 
			</div> 
			<div class="col-md-4">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/115+E+23rd+St/@40.7401285,-73.9855201,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a0d0e54c87:0xae5cf6951b7be32f" target="_blank"> 
						<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" alt="" class="lazy-img" data-original="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h4 data-component="text" data-name="components.text1" data-text-type="heading" data-use-font="true" class="text-component">
				<div class="content content2" style="display: none; ">
				</div>
			</h4> 
			<h5 class="position text-component" data-component="text" data-name="components.text2" data-text-type="heading" data-use-font="true">
				<div class="content content2">
					<div>New York City
					</div>
				</div>
			</h5> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
				<div class="content content2">
					<div>115 E 23rd St,&nbsp;4th Floor
					</div> 
					<div>New York, NY 10010
					</div>
				</div>
			</h5> <br> <br> 
			</div> 
			</div>
			<div class="col-md-4">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/115+E+23rd+St/@40.7401285,-73.9855201,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a0d0e54c87:0xae5cf6951b7be32f" target="_blank"> 
						<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" alt="" class="lazy-img" data-original="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h4 data-component="text" data-name="components.text1" data-text-type="heading" data-use-font="true" class="text-component">
				<div class="content content2" style="display: none; ">
				</div>
			</h4> 
			<h5 class="position text-component" data-component="text" data-name="components.text2" data-text-type="heading" data-use-font="true">
				<div class="content content2">
					<div>New York City
					</div>
				</div>
			</h5> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
				<div class="content content2">
					<div>115 E 23rd St,&nbsp;4th Floor
					</div> 
					<div>New York, NY 10010
					</div>
				</div>
			</h5> <br> <br> 
			</div> 
			</div>
			<div class="col-md-4">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/115+E+23rd+St/@40.7401285,-73.9855201,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a0d0e54c87:0xae5cf6951b7be32f" target="_blank"> 
						<img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" alt="" class="lazy-img" data-original="http://res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_540,w_720/hh28zzwzjgimbr1gkchg.png" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h4 data-component="text" data-name="components.text1" data-text-type="heading" data-use-font="true" class="text-component">
				<div class="content content2" style="display: none; ">
				</div>
			</h4> 
			<h5 class="position text-component" data-component="text" data-name="components.text2" data-text-type="heading" data-use-font="true">
				<div class="content content2">
					<div>New York City
					</div>
				</div>
			</h5> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
				<div class="content content2">
					<div>115 E 23rd St,&nbsp;4th Floor
					</div> 
					<div>New York, NY 10010
					</div>
				</div>
			</h5> <br> <br> 
			</div> 
			</div>
		</div>
	</div>
</section>