<section id="locations">
	<div class="row">
		<div class="container"> 
			<div class="clearfix"> 
				<div class="sixteen columns title-wrapper"> 
					<h1 class="title"> 
						Locations
					</h1> 
				</div> 
			</div> 
			<div class="col-md-4 col-lg-offset-2">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/Soldado+de+la+Independencia+729,+Buenos+Aires,+Ciudad+Aut%C3%B3noma+de+Buenos+Aires,+Argentina/@-34.5677684,-58.4340893,17z/data=!3m1!4b1!4m2!3m1!1s0x95bcb5bbffafa005:0xf1c8ed47898e4f5" target="_blank"> 
						<img src="img/buenos_aires_office_300x300.png" alt="" class="lazy-img" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Buenos Aires, Argentina
			</h5>
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Soldado de la Independencia 729,&nbsp;9th Floor<br>
					Buenos Aires, C1426BTG <br>
					Argentina
			</h5>
			</div> 
			</div>
			
			<div class="col-md-6">
			<div class="team_member_box animated" style="opacity: 1;">
				<div class="team_image s-mhi" data-asset-type="flat-circle-160-free" data-component="image" data-name="components.image1" data-use-url="true"><div class="content content2" style="visibility: visible; opacity: 1; "> 
					<a class="image-link" href="https://www.google.com/maps/place/Suriani,+Mendoza,+Argentina/@-32.910172,-68.7946183,15z/data=!4m2!3m1!1s0x967e0ea419944983:0x51427f0105816b7b" target="_blank"> 
						<img src="img/mendoza_office_300x300.png" alt="" class="lazy-img" title="" style="position: relative; "> 
					</a> 
					<span class="image-link"></span> 
				</div>
			</div> 
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Guaymallen, Argentina
			</h5>
			<h5 data-component="text" data-name="components.text3" data-text-type="body" data-use-font="true" class="text-component">
					Suriani 470 <br>
					Guaymallen, M5521PIH <br>
					Mendoza, Argentina
			</h5><br> <br>			
			</div> 
			</div>
		</div>
	</div>
</section>