<div class="social-share">
  <h4>Share on</h4>
  <ul>
    <div class="col-lg-3 col-sm-6">
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}" class="btn btn-block btn-social btn-twitter">
        <i class="fa fa-twitter"></i> <span> Twitter</span></a>
      </a>
    </li>
    </div>
    <div class="col-lg-3 col-sm-6">
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="btn btn-block btn-social btn-facebook">
        <i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    </div>
    <div class="col-lg-3 col-sm-6">
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="btn btn-block btn-social btn-google"><i class="fa fa-google-plus"></i><span> Google+</span></a>
    </li>
    </div>
  </ul>
</div><!-- /.social-share -->
